attrs==23.2.0
exceptiongroup==1.2.0
hypothesis==6.98.8
importlib-metadata==7.0.1
iniconfig==2.0.0
more-itertools==10.2.0
packaging==23.2
pluggy==1.4.0
pycryptodome==3.20.0
pyparsing==3.1.1
pytest==8.0.1
six==1.16.0
sortedcontainers==2.4.0
toml==0.10.2
tomli==2.0.1
wcwidth==0.2.13
zipp==3.19.1
